In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_excel("D:/Alok/Avenue.xlsx")

In [3]:
df

,username,fname,lname,Name,local_date,local_day,local_start_time,local_end_time,hours,jobcode,billable [c-],job,sifter [annot'],tasks,notes
0,farnaz.ali@legaloutsourcing2.com,Farnaz,Ali,Farnaz Ali,2021-10-05,Tue,2021-10-05 10:15:00,2021-10-05 10:16:00,0.02,C-Team discussion,yes,Avenue 360,NaN,NaN,NaN
1,farnaz.ali@legaloutsourcing2.com,Farnaz,Ali,Farnaz Ali,2021-10-05,Tue,2021-10-05 10:16:00,2021-10-05 11:02:00,0.77,C-Training,yes,Avenue 360,NaN,NaN,NaN
2,farnaz.ali@legaloutsourcing2.com,Farnaz,Ali,Farnaz Ali,2021-10-05,Tue,2021-10-05 11:18:00,2021-10-05 13:31:00,2.22,C-Document Review,yes,Avenue 360,NaN,NaN,NaN
3,farnaz.ali@legaloutsourcing2.com,Farnaz,Ali,Farnaz Ali,2021-10-05,Tue,2021-10-05 13:47:00,2021-10-05 17:12:00,3.42,C-Document Review,yes,Avenue 360,NaN,NaN,NaN
4,farnaz.ali@legaloutsourcing2.com,Farnaz,Ali,Farnaz Ali,2021-10-05,Tue,2021-10-05 17:33:00,2021-10-05 18:17:00,0.73,C-Document Review,yes,Avenue 360,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2649,nainshi.verma@legaloutsourcing2.com,Nainshi,Verma,Nainshi Verma,2021-10-25,Mon,2021-10-25 08:39:00,2021-10-25 13:52:00,5.22,C-Document Review,yes,Avenue 360,NaN,NaN,NaN
2650,nainshi.verma@legaloutsourcing2.com,Nainshi,Verma,Nainshi Verma,2021-10-25,Mon,2021-10-25 14:10:00,2021-10-25 18:59:00,4.82,C-Document Review,yes,Avenue 360,NaN,NaN,NaN
2651,nainshi.verma@legaloutsourcing2.com,Nainshi,Verma,Nainshi Verma,2021-10-25,Mon,2021-10-25 19:41:00,2021-10-25 20:56:00,1.25,C-Document Review,yes,Avenue 360,NaN,NaN,NaN
2652,nainshi.verma@legaloutsourcing2.com,Nainshi,Verma,Nainshi Verma,2021-10-26,Tue,2021-10-26 08:30:00,2021-10-26 16:54:00,8.40,C-Document Review,yes,Avenue 360,NaN,NaN,NaN
2653,nainshi.verma@legaloutsourcing2.com,Nainshi,Verma,Nainshi Verma,2021-10-26,Tue,2021-10-26 17:15:00,2021-10-26 17:23:00,0.13,C-Document Review,yes,Avenue 360,NaN,NaN,NaN

In [4]:
df.columns

Index(['username', 'fname', 'lname', 'Name', 'local_date', 'local_day',
       'local_start_time', 'local_end_time', 'hours', 'jobcode',
       'billable [c-]', 'job', 'sifter [annot']', 'tasks', 'notes'],
      dtype='object')

In [6]:
writer = pd.ExcelWriter('D:/Alok/Avenue.xlsx', engine='xlsxwriter')

In [7]:
writer

In [8]:
for i in df['Name'].drop_duplicates().to_list():
    df.loc[df['Name'] == i].to_excel(writer, sheet_name=i)
  
    
writer.save()