In [8]:
import pandas as pd
#Dictionary is created 
dic1={"Name":["Priya,","Nitin","Selim"],"Marks":[89,57,70]}

In [12]:
df=pd.DataFrame(dic1)
#Dictionary is taken into pandas

In [13]:
df

     Name  Marks
0  Priya,     89
1   Nitin     57
2   Selim     70

In [15]:
#To access a specific column 
df['Marks']

0    89
1    57
2    70
Name: Marks, dtype: int64

In [16]:
df['Name']

0    Priya,
1     Nitin
2     Selim
Name: Name, dtype: object

In [17]:
#To access a specific row
df.iloc[1]

Name     Nitin
Marks       57
Name: 1, dtype: object